/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #f3f3f3;
	font-size: 14px;
	color: #252b42;
	font-weight: 500;
	font-family: Montserrat;
	/*font-family: Merriweather;*/
}
/* ---------------------------------------------------------------------------- */
.wrapper {
    min-height: 2500px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	/*justify-content:center;/
    /*border: 2px solid #920d0d;*/
}
.header {
    min-height: 75px;
	width: 1200px;
	min-width: 300px;
    display: flex;
	margin: auto;
	flex-wrap: wrap;
    border: 2px solid #0d9214;
	align-items: center;
	justify-content:space-between;
		
	}
	.Section_Name {
		display:flex;
		width: 50%;
		min-width: 279px;
		align-items: center;
		justify-content:center;
		}
		.round {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 1px solid #0d9280;
			border-radius: 50%;
			margin-right: 3px;
		}
		.sec {
		}
			.Name_name {
				font-size: 26px;
				font-weight: 600;
				color: #252b42;
			}
			.Name_prof {
				font-size: 20px;
				font-weight: 400;
			}
	
/*.sec:before {
	
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: rgb(238,163,2);
	display: inline-block;
	margin: 0 5px 0 0;
}
.sec:hover:before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: rgb(0, 255, 0);
	display: inline-block;
	margin: auto 5px auto 0;
}

.Phone_number {
	width: 20%;
	display:flex;
	align-items: center;
	justify-content:center;
}

a[href^="tel:"] {
	font-size: 22px;
	text-decoration: none;
	color: #000000;
}*/

	.Menu {
		/*border: 2px solid #0f0d92;*/
		width: 50%;
		min-width: 290px;
		display: flex;
		text-align: center;
		justify-content:center;
		}
		.Nav_ul {
		}
		.Nav_ul li {
			display:inline;
			border-left: 1px solid #857D7A;
		}
		.Nav_ul li:first-child { 
			border: 0px;
		}			
			.nav-link {
				font-size: 25px;
				color: #252b42;
				padding: 9px;
			}
			.nav-link:hover{
				font-size: 25px;
				color: #0206fc;
				text-decoration: underline;
	}

.Container {
	display: flex;
	margin:auto;
	justify-content:center;
	flex-wrap: wrap;
	/*border: 2px solid #0f0d92;*/
}
	.foto1 {
		border-radius: 50%;
		max-width: 480px;
		}
		
	.Opisanie {
		width: 480px;
		height: 480px;
		/*border: 2px solid #0d9214;*/
		margin-left: 28px;
		}
			.ops1 {
			width: 480px;
			height: 30%;
			display:flex;
			align-items: center;
			margin-left: 14px;
			/*border: 1px solid #0f0d92;*/
			}
				.hello {
					font-size: 50px;
					font-weight: 600;
				}
			.ops2 {
			width: 480px;
			height: 32%;
			display:flex;
			align-items: center;
			justify-content: start;
			flex-wrap: wrap;
			margin-left: 14px;
			/*border: 1px solid #0f0d92;*/
			}
				.text_30px_w600 {
					font-size: 30px;
					color: #252b42;
					font-weight: 600;
				}
				.text_20px_w400_lh_28px {
					font-size: 20px;
					line-height:28px;
			}
			.ops3 {
				width: 450px;
				height: 38%;
				display:flex;
				justify-content: space-between;
				align-items: center;
				
			}
				.ops3-1 {
					width: 140px;
					height: 140px;
					border-radius: 50%;
					border: 1px solid #030303;
					display:flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					}
					.orange {
						background-color: #b0e7b0;
						background-color: rgb(176, 231, 176);	
					}
					.orange:hover {
							background-color: #f3f3f3;
						}
		
					.red {
						background-color: #CCCCFF;	
					}
						.red:hover {
							background-color: #f3f3f3;
						}
					.blue {
						background-color: #df618b;	
					}	
					.blue:hover {
						background-color: #f3f3f3;
					}
					.text-in-round {
						display:flex;
						align-items: center;
						justify-content: center;
						flex-wrap: wrap;
					}		
				.text_21px_w600-0 {
					font-size: 21px;
					font-weight: 600;
				}
				.text_21px_w600 {
					font-size: 21px;
					font-weight: 600;
					padding-top: 10px;
				}
				.text_19px_w300_ital {
					font-size: 20px;
					font-weight: 300;
					font-style: italic;
				}
				.Year {
					font-size: 19px;
					font-weight: 300;
					padding-top: 10px;
				}
				.text_Year {
					font-size: 19px;
					font-weight: 300;
					padding-top: 10px;
				}
				.prof {
					font-size: 22px;
					font-weight: 600;
					padding-top: 10px;
					padding-bottom: 5px;
				}



.Resume {
	/*display: flex;*/
	justify-content: center;
	/*height: 500px;*/
	width: 1100px;
	margin: auto;
	/*border:2px solid #07F406;*/
}
		.resume0 {
		height: 100px;
		/*border: 2px solid #061ef4;
		/*font-size: 20px;
		color: #252b42;
		font-weight: 600;*/
		display:flex;
		padding-left: 17rem;
		align-items: center;
		}
		.resume1 {
			display: flex;
			padding-left:10px;
			
		}
		.resume1:hover {
			background-color: #e9ebe9;
			border-radius: 5px;
			/*box-shadow: 0px 5px 10px 10px rgba(176, 231, 176, 0.8);*/
			/*transform: translateY(-5px);*/
			/*background-color: #dcfddc;*/
		}







			.resume1-1 {
			width: 30%;
			/*height: 120px;*/
			border-right: 2px solid #857D7A;
			border-right-style:double;
			/*border-bottom: 2px solid #857D7A;*/
			/*border: 2px solid #061ef4;*/
			}

			.link {
				font-size: 20px;
				margin-bottom: 5px;
				margin-top: 5px;
			}
			/*.resume1-2 {
			width: 0%;
			/*height: 120px;
			/*border: 2px solid #061ef4;
			}*/
			.resume1-3 {
			display: flex;
			width: 70%;	
			/*border-bottom: 2px solid #857D7A;*/
			padding-bottom: 20px;
			/*height: 120px;*/
			/*border: 2px solid #061ef4;*/
			}
				.resume1-3-1 {
				width: 20%;
				margin-left:30px ;
				/*border: 2px solid #0ef406;*/
				}
					.Year {
						font-size: 19px;
						font-weight: 300;
					}
				.resume1-3-2 {
				width: 80%;
				/*border: 2px solid #f40606;*/
				}




@media (max-width: 588px) {
.round {
	width: 35px;
	height: 35px;
}
}

@media (min-width: 1900px) {
	.foto1 {
		border-radius: 50%;
		max-width: 480px;
		}
	}